<h3 class="text-center">Об авторе</h3>
<img src="assets/img/oinft/w_d20f1037.jpg" class="center-block bio-image">

<div class="main-text">
  <table class="author-table">
    <tbody>
    <tr>
      <td>
        <h4><strong>Ф.И.О:</strong></h4>
      </td>
      <td>
        <h4>Козлов Алексей Александрович</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Вуз:</strong></h4>
      </td>
      <td>
        <h4>Белорусский государственный экономический университет</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Группа:</strong></h4>
      </td>
      <td>
        <h4>18 ЗУМ-2</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Кафедра:</strong></h4>
      </td>
      <td>
        <h4>Кафедра промышленного маркетинга и коммуникаций</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Специальность:</strong></h4>
      </td>
      <td>
        <h4>Маркетинг</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Специализация:</strong></h4>
      </td>
      <td>
        <h4>Маркетинговое управление инновационным развитием организации</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Дисциплина:</strong></h4>
      </td>
      <td>
        <h4>Информационные технологии в экономике и управлении</h4>
      </td>
    </tr>

  </table>
</div>
