<h3 class="text-center">Биография</h3>
<img src="assets/img/oinft/w_d20f1037.jpg" class="center-block bio-image">

<div class="main-text">
  <table class="author-table">
    <tbody>
    <tr>
      <td>
        <h4><strong>Ф.И.О:</strong></h4>
      </td>
      <td>
        <h4>Козлов Алексей Александрович</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Гражданство:</strong></h4>
      </td>
      <td>
        <h4>Республика Беларусь</h4>
      </td>
    </tr>
    </tbody>
    <tr>
      <td>
        <h4><strong>Город:</strong></h4>
      </td>
      <td>
        <h4>Витебск</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Школа:</strong></h4>
      </td>
      <td>
        <h4>СШ №5</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Вуз:</strong></h4>
      </td>
      <td>
        <h4>БГУиР</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Факультет:</strong></h4>
      </td>
      <td>
        <h4>Инженерно-экономический</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Специальность:</strong></h4>
      </td>
      <td>
        <h4>Информационные системы и технологии в экономике</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Кафедра:</strong></h4>
      </td>
      <td>
        <h4>Экономической информатики</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Достижения:</strong></h4>
      </td>
      <td>
        <h4>Участие в студенческой технической конференции</h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><strong>Настоящее время:</strong></h4>
      </td>
      <td>
        <h4>Магистрант кафедры ИПиЭ</h4>
      </td>
    </tr>

  </table>
</div>
