<h3 class="text-center">Сайт посвящен лабораторным работам по дисциплине "Информационные технологии в экономике и управлении"</h3>
<br>
<h4  class="text-center"><strong>Выполненные лабораторные работы:</strong></h4>
<div class="text-center">
    <span class="text-large">1) Проектирование BPwin (Process modeler)</span><br>
    <span class="text-large">2) Работа с системой поддержки принятия решений Assistant Choice</span>
</div>
<br><br>
<div class="image-holder text-center mt-2">
  <img src="assets/img/oinft/tech.jpg">
</div>
