<div class="navmenu navmenu-default navmenu-fixed-left main-sidebar" [class.small]="smallMode">
    <!--<a class="navmenu-brand visible-md visible-lg" href="#">Project name</a>-->
    <ul class="nav navmenu-nav left-bar">
      <li routerLink="/dashboard/home" routerLinkActive="active">
        <a>
          <i class="icon icon-home"></i>
          <!--<span>Home</span>-->
          <span>Домашняя страница</span>
        </a>
      </li>
      <li routerLink="/dashboard/theory" routerLinkActive="active">
        <a>
          <i class="icon icon-task-to-do"></i>
          <!--<span>Theory</span>-->
          <span>Теоретическая часть</span>
        </a>
      </li>
      <li routerLink="/dashboard/practice" routerLinkActive="active">
        <a>
          <i class="icon icon-import"></i>
          <!--<span>Practice</span>-->
          <span>Практическая часть</span>
        </a>
      </li>
      <li routerLink="/dashboard/author" routerLinkActive="active">
        <a>
          <i class="icon icon-signatories"></i>
          <!--<span>About author</span>-->
          <span>Об авторе</span>
        </a>
      </li>
      <li routerLink="/dashboard/supervisor" routerLinkActive="active">
        <a>
          <i class="icon icon-cleanser"></i>
          <!--<span>Supervisor</span>-->
          <span>Научный руководитель</span>
        </a>
      </li>
      <li routerLink="/dashboard/sources" routerLinkActive="active">
        <a>
          <i class="icon icon-reports"></i>
          <!--<span>Sources</span>-->
          <span>Использованные источники</span>
        </a>
      </li>
    </ul>
</div>
