
<h1 class="title">Научный руководитель</h1>

<div class="text-center supervisor-image">
    <img src="assets/img/oinft/12_100229_1_97598.jpg">
</div>
<div class="pull-left block-left">
    <h3>Унучек Евгений Николаевич</h3>
    <h4>Старший преподаватель, зам зав кафедрой по учебной работе, ответственный от кафедры за СМК</h4>
    <br>
    <h4><strong>Факультет:</strong> Инженерно-экономический</h4>
    <h4><strong>Кафедра:</strong> Экономической информатики</h4>
    <br>
    <h4><strong>Образование:</strong> Высшее</h4>
    <div class="list-of-works">1998-2003 гг. - студент кафедры экономической информатики экономического факультета Белорусского государственного университета информатики и радиоэлектроники по специальности «Экономика и управление на предприятии (специализация «экономическая информатика»)».

        2005-2009 гг. - аспирант заочной формы обучения кафедры экономической информатики по специальности 05.13.11 «Вычислительные машины, комплексы и сети». </div>
    <br>
    <h4><strong>Владеет следующими иностранными языками: </strong></h4>
    <div class="list-of-works">- английский;
        - словенский;
        - сербско-хорватский;
        - польский;
        - немецкий.
    </div>
    <br>
    <h4><strong>Опыт работы: </strong></h4>
    <div class="list-of-works">
        С 2001 года начал работу на кафедре экономической информатики БГУИР в должности инженера.

        С 2003 г. по н/в - научно-педагогическая деятельность на кафедре экономической информатики, начиная с должности ассистента до должности старшего преподавателя. Является заместителем заведующего кафедры экономической информатики по учебной работе.

        Имеет опыт разработки и преподавания дисциплин «Основы информатики и вычислительной техники», «Основы информатики и программирования», «Основы алгоритмизации и программирования», «Информатика», «Объектно-ориентированное программирование», «Компьютерные информационные технологии», «Компьютерные сети», «Основы лингвистического обеспечения баз данных», «Языки программирования для разработки сетевых приложений», «Базы данных», «Современные информационные технологии», «Сетевые информационные технологии», «Визуальные средства разработки программных приложений», «Проектирование распределенных информационных систем», «Распределенные информационные системы», «Программирование сетевых приложений», «Системный анализ и проектирование информационных систем», «Проектирование баз данных и знаний», «Современные технологии обработки экономической информатики» и др.

        В настоящее время преподает дисциплины «Основы алгоритмизации и программирования», «Системы и технологии интеллектуальной обработки данных», «Современные технологии обработки экономической информации».
        Выполняет работы связанные с организацией и проведением преддипломной практики и дипломного проектирования на кафедре.
        Поддерживает сотрудничество с ведущими IT-компаниями Парка высоких технологий.

        Имеет опыт и проводит внешние тренинги по следующим направлениям «BigDataandPredictiveAnalytics», «Основы разработки приложений на языке JAVA», «Основы разработки приложений на языке C#», «Разработка бизнес-приложений и аналитических систем в среде SAP»
    </div>


</div>
<div class="pull-right block-right">
    <h3>Научная деятельность: </h3>
    <div class="list-of-works">
        Является автором и соавтором более 40 научных и учебно-методических работ, в числе которых образовательные стандарты, типовые учебные программы, учебные и методические пособия.

        Участвует в совместном проекте БГУИР с CSI (ComputerSystemsInstitute, Чикаго, США) по подготовке американских студентов на английском языке.
        Основные направления научной деятельности связаны с:
        -современными информационными технологиями;
        -системами автоматизированного обучения;
        -технологиями проектирования и разработки корпоративных распределенных систем;
        -технологиямиBig Data, Data Mining;
        -корпоративными информационными системами;
        - системы менеджмента качества и ITQualityAssurance;
        - технологиями и методами интеллектуальной обработки данных (BusinessIntelligence).
    </div>
    <h3>Общественная деятельность: </h3>
    <div class="list-of-works">
        Является постоянным участником жюри городской конференции учащихся (конкурса исследовательских работ), секция «информатика».
        Является постоянным участником жюри Республиканского конкурса работ исследовательского характера учащихся по астрономии, биологии, информатике, математике, физике, химии(секция «Информатика»)
        Является активным участником сообщества BelarusBigDataUserGroup
        Является постоянными участником ежегодных конференций, проводимых компанией EPAMSystems.
        Является членом Секции по направлению 1-40 01 02-02 Информационные системы и технологии (в экономике)Научно-методического совета по специальности 1-40 01 02-02 Информационные системы и технологии (по направлениям).
        Образовательная и научно-педагогическая деятельность:
        Является соавтором учебных планов и образовательных стандартов по специальностям I ступени высшего образования «Информационные системы и технологии (в экономике)»,«Информационные системы и технологии (в логистике)», а также ряда учебных программ по дисциплинам данных специальностей.
    </div>
</div>
<div class="clear"></div>
<br>
<br>
<br>
