<div class="main-text">
    <h4 class="text-center"><strong>СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ </strong></h4>
    [1]	Wikipedia [Электронный ресурс] – электронная энциклопедия. – Электронные данные. – Режим доступа: http://www.wikipedia.org
    [2]	Лимончелли Т., Хоган К., Чейлап С. – Системное и сетевое администрирование. Практическое руководство. 2-е издание - 2009.
    [3]	Построение центров обработки данных, cisocexpo, 2005
    [4]	Фейт С. TCP/IP. Архитектура, протоколы, реализация (включая IPv6 и IP Security): Лори, 2009
    [5]	Мауро Д., Шмидт К. - Основы SNMP – М.: 2012.
    [6]	Баррет Дж, Silverman Е. - SSH, The Secure Shell: The Definitive Guide
    [7]	Перевод спецификации HTTP/1.1,  RFC 2616
    [8]	Ellis R., SLA Research and Language Teaching, 1997
    [9]	Уилсон Э. – Мониторинг и анализ сетей – М.: 2014.
    [10]	Monitoring with Ganglia, 2012
    [11]	Ганин М.А., Давлеткиреева Л.З., Новикова Т.Б. Система мониторинга Zabbix // Современные научные исследования и инновации. 2012. № 12 [Электронный ресурс]. URL: http://web.snauka.ru/issues/2012/12/19270
    [12]	Barth W. Nagios System and Network Monitoring: No Starch Press, 2006 г.
    [13]	Тарасов А. - Система мониторинга вычислительного кластера расширенной функциональности
    [14]	Черемных С., Семенов И. –  Моделирование и анализ систем. IDEF-технологии: практикум, 2006
    [15]	Dongarra J. J., Bunch J. R., Moler G. B., Stewart G. W. LINPACK Users’ Guide. – Society for Industrial and Applied Mathematics, 1979 – 1993. – ISBN 0-89871-172-X
    [16]	Выбор наиболее подходящей линии тренда для данных [Электронный ресурс]. – Электронные данные. Режим доступа: https://support.office.com/en-us/article/Choosing-the-best-trendline-for-your-data-1bb3c9e7-0280-45b5-9ab0-d0c93161daa8?ui=en-US&rs=en-US&ad=US.
    [17]	Консорциум Всемирной паутины [Электронный ресурс]. – Режим доступа : https://www.w3.org/standards/xml/
    [18]	Справочник по HTML [Электронный ресурс]. – Режим доступа : http://htmlbook.ru/html/
</div>
