.main-text {
  white-space: pre-wrap;
  padding: 0 100px;
  width: 100%;
}

.main-text img {
  width: 900px;
}

.image-holder {
  width: 100%;
  text-align: center;
  overflow: auto;
}

@media (max-width: 1025px) {
  .main-text {
    padding: 0;
  }

  .main-text img {
    max-height: 600px;
  }
}
