<h3 class="text-center">Моделировние BPwin</h3>
<br>
<div class="main-text">

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d1.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 1 – Главный функциональный блок модели процесса разработки программного продукта
  </div>

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d2.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 2 – Декомпозиция главного функционального блока
  </div>

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d3.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 3 – Декомпозиция блока «Составить техническое задание»
  </div>

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d4.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 4 – Диаграмма дерева узлов модели безнес-процесса
  </div>

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d7.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 5 – Диаграмма потоков данных
  </div>

  <div class="image-holder">
    <img src="assets/img/oinft/bpwin/d8.jpg">
  </div>

  <div class="text-center image-signature text-large">
    Рисунок 6 – Декомпозиция главного блока dfd-диаграммы
  </div>

</div>
<div style="height: 100px"></div>
