<div class="main-text">
  <h4 class="text-center"><strong>Постановка задачи</strong></h4>
  Для проведения анализа результативности работы серверного оборудования и составления прогнозов, необходимо реализовать программное средство, работающее с массивом данных, собранных за определенный промежуток времени и анализирующее их.
  Собрать данные для анализа можно следующими способами:
  а) использовать уже существующие системы мониторинга. То есть необходимо предоставлять набор библиотек, позволяющих интегрировать программное средство в сторонние программные комплексы;
  б) реализовать собственное решение для мониторинга оборудования.
  С точки зрения универсальности, предпочтителен первый вариант. Все современные системы мониторинга способны собирать статистику о работе серверов и аккумулировать данные в хранилищах данных. Например, система мониторинга Ganglia может контролировать более чем 40 параметров на каждом вычислительном узле.
  С другой стороны – в процессе написания и тестирования программного средства, удобнее работать с данными, полученными от собственно реализованной системы мониторинга. В дальнейшем, после завершения работы над аналитическим модулем, можно адаптировать его для других популярных систем.
  Таким образом, основными задачами разрабатываемого программного средства являются:
  а) получение и сохранение данных от контролируемого сервера;
  б) выявление значимых событий;
  в) анализ данных и составление прогнозов;
  г) быть легко настраиваемой для использования различных источников данных;
  д) корректно обрабатывать исключительные ситуации: задержки и ошибки при получении данных, отсутствие либо повреждение необходимой информации и т. п.;
  е) предоставлять изменяемый графический интерфейс пользователя;
  ж) быть надёжной, стабильной и нетребовательной к ресурсам.
  з) предоставлять набор библиотек, позволяющих интегрировать СМ в сторонние программные комплексы;
  и) иметь возможность получать и обрабатывать данные сторонних СМ единообразно и прозрачно для пользователя;
</div>
<div class="main-text">
  <h4 class="text-center"><strong>Выбор и обоснование технических и программных средств реализации</strong></h4>
  Для реализации системы мониторинга, необходимо учитывать ряд особенностей, характерных для таких систем.
  В качестве языка программирования решено было использовать объектно-ориентированный язык Java, так как он способен эффективно решать задачи, связанные с вычислениями, что понадобится для анализа данных и прогнозирования, кроме того, для этого языка существует множество удобных библиотек и фреймворков, а также мы получаем независимость от платформы, на которой выполняются программы. Таким образом, один программный продукт можно будет запускать под управлением операционных систем Windows, Linux, FreeBSD, Solaris, Apple Mac и других.
  Разрабатываемая система мониторинга должна собирать данные с устройств, работающих под различными операционными системами. Поэтому, для сбора данных, было решено использовать свободно распространяемую библиотеку Sigar, которая предоставляет унифицированный API для доступа к данным о работе узлов оборудования, работающего под различными операционными системами.
  Собранные данные будет сохраняться в СУБД MySQL. Архитектура MySQL очень сильно отличается от архитектур других серверов баз данных и делает эту СУБД эффективной для широкого спектра задач. MySQL не универсальна, но обладает достаточной гибкостью, чтобы отлично работать в очень требовательных средах, например, в веб-приложениях. В то же время MySQL может использоваться во встроенных приложениях, хранилищах данных, программном обеспечении индексирования и доставки содержимого, высоконадежных системах с резервированием, системах оперативной обработки транзакций (OLTP) и других системах.
  Для реализации веб-интерфейса управления серверами и отображения статистических данных, было решено создать веб-приложение. Серверная часть реализуется с помощью Spring MVC и REST сервиса. Клиентская часть написана с помощью HTML, CSS. Для рендера графиков будут использоваться библиотеки, написанные на языке JavaScript.
  Взаимодействие главного сервера с серверами-агентами будет осуществляться по протоколам HTTP и TCP/IP.
  Для реализации прогнозирования было решено использовать библиотеку Apache Math и написать прослойку для построения 5 различный линий тренда.
</div>
<div class="main-text">
  <h4 class="text-center"><strong>Скриншоты приложения</strong></h4>
  <table class="img-table">
    <tbody>
    <tr>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/1.png">
      </td>
      <td>
        <h4>
          Приложение-агент автоматически свяжется с приложением-сервером, зарегистрируется в системе и начнет отправку собираемых данных.
          Получить доступ к управлению системой мониторинга можно через веб-интерфейс программы развернутой на главном сервере. Для работы с серверным приложением через окно браузера необходимо пройти процедуру авторизации. Форма авторизации представлена на рисунке слева.
        </h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          На странице серверов пользователь может выбрать любой сервер, с которым установлено соединение. С этой страницы возможен переход на страницу настроек сервера и страницу с результатами мониторинга. Также с данной страницы присутствует возможность приостановить процесс мониторинга.
          Страница управления серверами представлена на рисунке справа.
        </h4>
      </td>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/2.png">
      </td>
    </tr>
    <tr>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/3.png">
      </td>
      <td>
        <h4>
          Пользователь имеет возможность просматривать графики, построенные на основе результатов мониторинга. На рисунке слева представлен график нагрузки пользователем на процессор.
        </h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          На графике нагрузки на оперативную память сервера показана загрузка оперативной памяти сервера в течение часа. Все это время показатель колебался в пределах 3-4 гигабайт, что является предельной нагрузкой для данного сервера.
          График нагрузки на оперативную память сервера представлен на справа.
        </h4>
      </td>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/4.png">
      </td>
    </tr>
    <tr>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/5.png">
      </td>
      <td>
        <h4>
          На графике нагрузки файловой системы сервера показана активность потоков ввода-вывода в течение часа.
          График использования файловой системы сервера представлен на слева
        </h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          Пользователь может вывести все интересующие его прогнозы на одном графике, для этого достаточно отметить нужные используя панель управления. Пример приведен на рисунке справа.
          На рисунке также изображены 3 линии тренда: на основе всех данных, на основе данных, полученных за последний месяц и на основе данных, полученных за последнюю неделю.
          Как видно из рисунка, заполнение объема диска может достичь 100% уже через 2 месяца, если полагаться на показания линии тренда, построенной на основе показаний за последний месяц.
        </h4>
      </td>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/6.png">
      </td>
    </tr>
    <tr>
      <td>
        <img class="custom-image" src="assets/img/oinft/program/7.png">
      </td>
      <td>
        <h4>
          На рисунке слева представлен график загрузки центрального процессора в течение 6 дней.
          На рисунке изображена полиномиальная линия тренда, которая показывает убывающую нагрузку на центральный процессор.
        </h4>
      </td>
    </tr>
    </tbody>
  </table>

</div>
