.main-text {
  white-space: pre-wrap;
  padding: 0 100px;
  width: 100%;
}
.text-report {
  font-size: 12pt;
  padding: 0 20px;
}
.main-text img {
  width: 550px;
}
.img-table {
  width: 100%;
}
.img-table td{
  text-align: center;
  width: 50%;
}
